.clothes-section {
  width: 100%;
  max-width: 1015px;
  flex: 1;
}

.clothes-section__header {
  margin: 16px 0;
  display: flex;
  gap: 20px;
}

.clothes-section__title {
  margin: 0;
  font-size: 20px;
  line-height: 1;
}

.clothes-section__add-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.6;
  padding: 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.clothes-section__add-btn:hover {
  opacity: 1;
}
