.sidebar {
  width: 100%;
  max-width: 345px;
}

.sidebar__user-info {
  max-width: 229px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  margin: 0;
  font-size: 1.25em;
  line-height: 1;
}

@media screen and (max-width: 845px) {
  .sidebar {
    max-width: none;
  }

  .sidebar__user-info {
    max-width: none;
    padding: 20px 0;
    justify-content: flex-start;
    gap: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .sidebar__username {
    align-self: flex-start;
  }
}
