.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s linear 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  box-sizing: border-box;
  border-radius: 20px;
  max-width: 496px;
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 28px 28px 32px;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  background: url(../../assets/x_icon.svg) no-repeat;
  opacity: 0.3;
  border: none;
  padding: 0;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
}

.modal__close:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label_type_radio {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: color 0.2s ease;
  margin-bottom: 8px;
}

.modal__label_type_radio:last-child {
  margin-bottom: 0;
}

.modal__label_type_radio:has(input:checked) {
  color: rgba(0, 0, 0, 1);
}

.modal__label:first-child {
  margin-bottom: 24px;
}

.modal__input {
  padding: 0;
  margin-top: 3px;
  padding-bottom: 4px;
  display: block;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 1);
  width: 100%;
}

.modal__input_type_radio {
  display: inline;
  width: initial;
  accent-color: black;
}

.modal__radio-buttons {
  margin: 24px 0 32px;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__submit {
  color: #fff;
  background-color: black;
  opacity: 0.3;
  max-width: 124px;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
}

.modal__submit:hover {
  opacity: 0.6;
  cursor: pointer;
}
