.modal__content_type_confirm {
  padding: 60px 152px;
  width: 100%;
  max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close_type_confirm {
  top: 20px;
  right: 20px;
}

.confirm-modal__text {
  margin: 0;
  max-width: 367px;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.2;
}

.confirm-modal__confirm {
  margin: 40px 0 24px;
  padding: 0;
  width: fit-content;
  color: #ff4d00;
  border: none;
  background: transparent;
  cursor: pointer;
}

.confirm-modal__confirm:hover {
  opacity: 0.6;
}

.confirm-modal__cancel {
  padding: 0;
  width: fit-content;
  border: none;
  background: transparent;
  display: block;
  cursor: pointer;
}

.confirm-modal__cancel:hover {
  opacity: 0.6;
}
