.card {
  display: flex;
  justify-content: center;
  position: relative;
  width: 323px;
}

.card__header {
  position: absolute;
  top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  opacity: 0.6;
  padding: 2px 12px;
  border-radius: 4px;
}

.card__like-btn {
  padding: 0;
  background: transparent url(../../assets/card_like-btn.svg) no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 18px;
  height: 15px;
}

.card__like-btn_active {
  background-image: url("../../assets/card_like-btn_liked.svg");
}
.card__image {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  flex-shrink: 0;
}

@media screen and (max-width: 845px) {
  .card {
    max-width: 164px;
  }

  .card__title {
    top: 7px;
  }
}
