.card {
  display: flex;
  justify-content: center;
  position: relative;
  width: 323px;
}

.card__title {
  position: absolute;
  top: 15px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  opacity: 0.6;
  padding: 2px 12px;
  border-radius: 4px;
}

.card__image {
  width: 100%;
  border: solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
}

.card__image:hover {
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 164px;
  }

  .card__title {
    top: 7px;
  }
}
