@font-face {
  font-family: "CabinetGrotesk-Medium";
  src: url(../../vendor/CabinetGrotesk-Medium.woff);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url(../../vendor/CabinetGrotesk-Bold.woff);
  font-style: normal;
  font-weight: 700;
}

.page {
  background-color: #f3f3f3;
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (max-width: 845px) {
  .page__content {
    padding: 0 16px;
  }
}
