.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 1.25em;
  line-height: 1.2;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__menu-btn {
  display: none;
  border: none;
  padding: 0;
  border-radius: 10px;
  background: url(../../assets/mobilemenu_btn.svg) center no-repeat;
  width: 44px;
  height: 44px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  font-size: 0;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 16px;
  z-index: 101;
}

.header__menu-btn:hover {
  opacity: 0.6;
}

.header__menu-btn_opened {
  background: url(../../assets/mobile-menu_x_icon.svg) center no-repeat;
  box-shadow: none;
  border-radius: 0;
}

.header__menu-btn_opened:hover {
  opacity: 0.6;
}

/* Mobile menu container */
.mobile-menu {
  position: fixed;
  top: 18px; /* aligns with header padding */
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 32px); /* matches page padding */
  max-width: 630px;

  background-color: white;
  border-radius: 12px;
  padding: 60px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  visibility: hidden;
  opacity: 0;

  transition: visibility 0.1s linear 0.3s, opacity 0.3s linear;

  z-index: 100;
}

.mobile-menu_opened {
  display: flex;

  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.mobile-menu__user-container {
  display: flex;
}

.mobile-menu__username {
  margin: 0;
  font-weight: 700;
  line-height: 1;
  align-self: center;
  margin-right: 12px;
}

.mobile-menu__add-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  cursor: pointer;
}

.mobile-menu__add-btn:hover {
  opacity: 0.4;
}

@media screen and (max-width: 630px) {
  .header {
    padding: 18px 0 16px;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__date-and-location {
    margin-top: 32px;
  }

  .header__user-container,
  .header__add-clothes-btn {
    display: none;
  }

  .header__menu-btn {
    display: block;
  }
}
