.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 1.25em;
  line-height: 1.2;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  background-color: transparent;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
}
