.modal__content_type_preview {
  padding: 0;
}

.modal__close_type_preview {
  background-image: url(../../assets/x_icon_white.svg);
  opacity: 1;
}

.modal__close_type_preview:hover {
  background-image: url(../../assets/x_icon.svg);
}

.modal__image {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.modal__footer {
  margin: 20px 0 32px 32px;
}

.modal__caption {
  font-size: 1.25em;
  line-height: 24px;
  margin: 0 0 12px;
}

.modal__weather {
  font-size: 1.25em;
  line-height: 24px;
  margin: 0;
}
