.modal__content_type_preview {
  padding: 0;
}

.modal__close_type_preview {
  right: 24px;
  top: 24px;
  background-image: url(../../assets/x_icon_white.svg);
  opacity: 1;
}

.modal__close_type_preview:hover {
  background-image: url(../../assets/x_icon.svg);
  border-radius: inherit;
}

.modal__image {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.item-modal__footer {
  padding: 20px 32px 32px;
}

.item-modal__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.item-modal__caption {
  font-size: 1.25em;
  line-height: 24px;
  margin: 0;
}

.item-modal__delete-btn {
  font-size: 1.25em;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #ff4d00;
  border: none;
  background: transparent;
  cursor: pointer;
}

.item-modal__delete-btn:hover {
  opacity: 0.6;
}

.item-modal__weather {
  font-size: 1.25em;
  line-height: 24px;
  margin: 0;
}
